{% macro footer(bgColor, textColor) %}
    <footer class="{{bgColor}} {{textColor}}">
        <div class="container py-5 py-md-6">
            <div class="row justify-content-md-between">
                <div class="col-4 col-md-3">
                    <a href="profile.html"><h2 class="h6">Profile</h2></a>
                    <ul class="nav flex-column small">
                        <li class="mt-1 mb-1"><a href="profile.html#overview" class="text-muted">Overview</a></li>
                        <li class="mt-1 mb-1"><a href="profile.html#skills" class="text-muted">Skills</a></li>
                        <li class="mt-1 mb-1"><a href="profile.html#education" class="text-muted">Education</a></li>
                        <li class="mt-1 mb-1"><a href="profile.html#experience" class="text-muted">Experience</a></li>
                        <li class="mt-1 mb-1"><a href="profile.html#industries" class="text-muted">Industries of interest</a></li>
                        <li class="mt-1 mb-1"><a href="profile.html#manifesto" class="text-muted">Manifesto</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-3">
                    <a href="work.html"><h2 class="h6 mb-3">Work</h2></a>
                    <ul class="nav flex-column small">
                        <li class="mt-1 mb-1"><a href="work.html" class="text-muted">Overview</a></li>
                        <li class="mt-1 mb-1"><a href="vocalio.html" class="text-muted">Vocalio</a></li>
                        <li class="mt-1 mb-1"><a href="sustain-a-bowl.html" class="text-muted">Sustain-A-Bowl</a></li>
                        <li class="mt-1 mb-1"><a href="https://www.figma.com/file/jNIlsoZ6Q38rF2tAHZgDlr/NaaS-(PitchBook)?node-id=0%3A1" target="_blank" class="text-muted">NaaS (News as a <span class="no-wrap">Service)&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>

                        <li class="mt-1 mb-1"><a href="https://clearyourview.org" target="_blank" class="text-muted">Clear Your <span class="no-wrap">View&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>
                        <li class="mt-1 mb-1"><a href="https://guardant360cdx.com" target="_blank" class="text-muted">Guardant360 <span class="no-wrap">CDx&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>
                        <li class="mt-1 mb-1"><a href="https://tissuenext-8987a7.netlify.app" target="_blank" class="text-muted">TissueNext <span class="no-wrap">campaign&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>
                        <li class="mt-1 mb-1"><a href="https://whyliquidfirst.com" target="_blank" class="text-muted">LiquidFirst <span class="no-wrap">campaign&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-3">
                    <a href="contact.html"><h2 class="h6 mb-3">Contact</h2></a>
                    <ul class="nav flex-column small">
                        <li class="mt-1 mb-1"><a href="contact.html" class="text-muted">Message Dan</a></li>
                        <li class="mt-1 mb-1"><a href="https://www.linkedin.com/in/dansmithux/" target="_blank" class="text-muted">Connect on <span class="no-wrap">LinkedIn&nbsp;<i class="material-icons icon-sm align-middle">open_in_new</i></span></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 mt-4 mt-md-0">
                    © 2022 Dan Smith
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

{% endmacro %}
